.listItem{
cursor: pointer;
}

.textItem{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  -webkit-transition: .1s;
  transition: .1s;
  background-color: #444;
}