.cornerItem {
  width: 10px;
  display: inline-block;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: #444;


  &.success {
    background-color: green;
  }

  &.cancel {
    background-color: red;
  }
}
