body .right {
  padding: 0.7rem;
  position: relative;
  bottom: 120px;
  width: 100%;
  $border: 1px;
  color: #fff;
  background: #000;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  height: 404px;
  border-radius: 0.3rem;

  @media (max-width: 768px) {
    bottom: 0;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to bottom, #444, #444, orange, #ffa500);
  }

  .description {
    &.card {
      display: flex;
      width: 100%;
      padding: 0.2rem;
      height: 100%;
      background: #000;
    }

    .description-text{
      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
    }

    .instruction {
      text-align: center;
    }

    .random-image {
      width: 25%;
      object-fit: cover;
      -o-object-fit: cover;
      object-position: center top;
      height: 288px;
      margin-bottom: 1rem;
      border: 0;
      border-radius: 0.3rem;

      img {
        background: #000;
        border-radius: 0.3rem;
      }

      @media (max-width: 768px) {
        width: 25%;
        height: 90%;
        margin-bottom: 1rem;
        margin-right: 0;
        padding: 0;
      }
    }

    .description-card {
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      @media (max-width: 768px) {

      }




      .list-group {
        width: 100%;
        margin-left: 1rem;

        .list-group-item {
          background-color: #000;
          &:nth-child(2),
          &:nth-child(3) {
            padding-top: 1rem;
          }

          padding-top: 0;

          h3 {
            padding-top: 1rem;
            font-size: 1.5rem;
            @media (max-width: 425px) {
              padding: 0;
            }
          }

          h5 {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.bottom-container {
  display: flex;
  flex-direction: row;
  max-height: 260px;
  @media (max-width: 768px) {
    flex-direction: column;
    max-height: 100%;
  }
}
