
.header {
  padding-top: 1rem;
  .logo {
    width: 250px;
    margin-left: 0.5rem;
  }
}

.header {
  .top-panel {
    margin: 0 1rem 2rem 0.5rem;
    overflow: hidden;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }

    @media (max-width: 425px) {
      justify-content: center;
    }
  }
}
.score-title {
  margin-top: 0;
  margin-left: 1rem;
  @media (max-width: 768px) {
    margin-top: 1rem;
  }
  .score {
    color: #ffa500;
  }
}

.page-item {
  flex: auto;
  text-align: center;
  .page-link {
    $border: 1px;
    color: #fff;
    background: #000;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to top, #ff8200, #ff6412, orange, gold);
    }

    &:hover {
      background-color: #000000;
    }
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: 0;
    line-height: 1.25;
    color: #fff;
    outline: none;
    cursor: auto;
  }
}
