@import "../../index";

.header {
  margin-top: 0.5rem;
}

.logo {
  width: 250px;
}

.header {
  .top-panel {
    margin: 1.5rem 1rem 2rem .5rem;
    overflow: hidden;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 768px) {
      flex-wrap: wrap;
  
    }
    
    @media (max-width: 425px) {
      justify-content: center;
    }
  }
}
.score-title {
  margin-top: 0;
  margin-left: 1rem;
  @media (max-width: 768px) {
    margin-top: 1rem;
  }
  .score {
    color: $second;
  }
}

.page-item {
  flex: auto;
  text-align: center;
  .page-link {
    background-color: $second;
    border-color: #b3622d;
    border-radius: 0 !important;

    &:hover {
      background-color: $second;
    }
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: 0;
    line-height: 1.25;
    color: #fff;
    outline: none;
    cursor: auto;
  }
}
