.btn-next{
  width: 100%;
  margin: 25px 15px;
  background-color: #303030;
  border: 1px solid #444;
  color: #fff!important;
  cursor: auto;
  -webkit-transition: .3s;
  transition: .3s;
  outline: 0;
  box-shadow: none;
  &:focus{
    box-shadow: none;
    outline: 0;
  }
  &:hover{
    background-color: #303030;
    outline: 0;
  }

}