@import "../../index";

.btn {
  width: 100%;
  margin-top: 50px;
  background-color: $second;
  border: 1px solid #444;
  color: #fff !important;
  cursor: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: 0;
  box-shadow: none;
  &:focus
  {
    box-shadow: none;
    outline: 0;
    background-color:$second;
  }
  &:active{
    box-shadow: none;
    outline: 0;
    background-color:$second;
  }

  &:hover {
    background-color: (lighten($second,10%));
    outline: 0;
  }
}
